* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    height: 3rem;
    background-color: #0f793f;
    display: flex;
    align-items: flex-end;
}
.navbar-link {
    padding: 1rem;
    color: white;
    height: 60%;
    display: flex;
    align-items: center;
}
.active {
    color: #0f793f;
    background-color: #ececec;
}
.properties {
    height: 2.5rem;
    background: #ececec;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.properties > * {
    margin-right: 0.6rem;
    display: inline-block;
}

.properties > select {
    border: none;
    outline: none;
}
.font-family-prop {
    padding: 0.2rem;
}
.font-size-prop {
    padding: 0.2rem;
}
.color {
    position: relative;
}
.input-color {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    opacity: 0;   
}
.formula-bar {
    height: 2.5rem;
    background: #ececec;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}
.formula-bar > * {
    display: inline-block;
}
.address-bar {
    width: 5rem;
    padding-left: 0.3rem;
}
.formula-icon {
    width: 1.5rem;
    margin: 0.5rem;
}
.formula {
    width: calc(100vw - 9.5rem);
}
.formula-bar > input {
    border: none;
    outline: none;
    height: 1.5rem;
}
.grid {
    height: calc(100vh - 11rem);
    background: lightblue;
    overflow: scroll;
    position: relative;
}
.grid-dummy {
    height: 1.5rem;
    width: 1.5rem;
    background: blue;
} 
.row-header {
    position: sticky;
    top: 2rem;
    left: 0;
    z-index: 1;
    background: lightgreen;
    width: 1.5rem;
}
.row-header-elem {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell-cont {
    position: absolute;
    left: 1.5rem;
    top: 0;
    font-family: monospace;
}
.column-header {
    display: flex;
    background: lightgreen;
    position: sticky;
    top: 0;
    left: 1.5rem;
}
.column-header-elem {
    width: 4rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
} 
.row-cell-cont {
    display: flex;
}
.cell {
    width: 4rem;
    height: 1.5rem;
    background: pink;
    border: 1px solid;
    outline: none;
}
.sheet-cont {
    height: 3rem;
    background: #ececec;
    display: flex;
    align-items: center;
    overflow: auto;
}
.sheets-cont {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheet-content {
    width: 5rem;
}
.sheet {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 2px;
}